/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    text-transform: uppercase; /* Convert text to uppercase */

}

/* Body styles */
body {
    font-family: 'Noto Sans Georgian', sans-serif;
    background-image: url(/static/wp4251235.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    min-height: 100vh;
}

/* Opacity overlay */
.opacity {
    background-color: rgba(9, 9, 20, 0.5); 
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

/* Header styles */
header {
    width: 100%;
    background-color: #232f3e; /* Amazon-like color */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 500px;
}

nav li {
    margin-right: 20px;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ff9900; /* Amazon-like color */
}

.header-buttons button a {
    color: white;
    transition: all 1s;
}

.header-buttons button {
    background-color: transparent;
    border: 1px solid white;
    padding: 5px 10px;
}

.header-buttons button a:hover {
    color: #ff9900; /* Amazon-like color */
}

/* Footer styles */
footer {
    width: 100%;
    background-color: #f8f9fa; /* Amazon-like color */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

.footer-logo img {
    width: 150px;
    border-radius: 20px;
}

.footer-links a {
    color: #000; /* Amazon-like color */
}

/* Main content styles */
main {
    width: 100vw;
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
}

/* Product container styles */
.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjusted for better visibility */
    gap: 20px;
    width: 100vw;
}

.product-card {
    background-color: #fff;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    justify-self: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-card .name {
    font-weight: bold;
    margin-bottom: 5px;
}

.product-card a, .product-card button {
    display: block;
    width: 100%;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #FF9900; /* Amazon-like color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-card button {
    margin-top: 5px;
    background-color: #FF3333; /* Amazon-like color */
}

/* Form styles */
.add-product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin-bottom: 20px;
}

.inputs input[type="text"],
.inputs input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.inputs input[type="submit"] {
    width: auto;
    cursor: pointer;
    background-color: #FF9900; /* Amazon-like color */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.header-logineduser{
    padding: 10px;
    color: white;
    font-weight: bolder;
}

.header-logout{
    color: white;
    font-weight: bolder;
}

.inputs input[type="submit"]:hover {
    background-color: #FF6600; /* Amazon-like color */
}
