{% extends 'mainbase.html' %}

{% block containers %}
<main>
    <section class="products">
        <a href="{{ url_for('product') }}">
            <p>PRODUCTS</p>
        </a>
    </section>
    <section class="feedback">
        <a href="{{ url_for('Feedback') }}">
            <p>FEEDBACK</p>
        </a>
    </section>
    <div class="special-things">
        {% if current_user.is_authenticated and current_user.role == 'admin' %}
        <section class="admin">
            <a href="{{ url_for('admindashboard') }}">
                <p>ADMIN DASHBOARD</p>
            </a>
        </section>
    {% else %}
        <section class="not-admin">
            <p>YOU ARE NOT ADMIN</p>
        </section>
    {% endif %}
    </div>
    <div class="opacity"></div>
</main>
{% endblock %}
