{% extends 'mainbase.html' %}

{% block containers %}
<main>
    <section class="products">
        <a href="{{ url_for('product') }}">
            <p>PRODUCTS</p>
        </a>
    </section>
    <section class="feedback">
        <a href="{{ url_for('Feedback') }}">
            <p>FEEDBACK</p>
        </a>
    </section>
    <div class="special-things">
        {% if current_user.is_authenticated and current_user.role == 'admin' %}
        <section class="admin">
            <a href="{{ url_for('admindashboard') }}">
                <p>ADMIN DASHBOARD</p>
            </a>
        </section>
        {% else %}
        <section class="not-admin">
            <p>YOU ARE NOT ADMIN</p>
        </section>
        {% endif %}
    </div>

    <section id="about" class="about"> 
        <h1>ABOUT</h1>
        <p>


            **Welcome to Our Community**

            At Market of Game Accounts, we're dedicated to fostering a vibrant and inclusive community where individuals from
            diverse backgrounds can come together to share their stories, passions, and insights. Whether you're an
            experienced enthusiast or just starting your journey, our platform provides a welcoming space for you to
            connect, learn, and grow.

            **Discover Inspiring Stories**

            Explore a wealth of captivating stories contributed by members of our community. From travel tales to
            culinary experiences, from personal reflections to professional insights, there's a rich tapestry of
            narratives waiting to be explored. Immerse yourself in our collection and be inspired by the diverse
            perspectives that shape our world.

            **Engage with Like-minded Individuals**

            Connect with fellow enthusiasts who share your interests and passions. Engage in discussions, exchange
            ideas, and build meaningful connections with individuals who resonate with your curiosity, creativity, and
            thirst for knowledge.

            **Share Your Voice**

            Your voice is valuable. Contribute your thoughts, experiences, and expertise to our community. Whether
            you're writing a blog post, sharing a photo, or participating in a lively discussion, your contributions
            enrich our collective experience and contribute to the vibrant tapestry of voices within our community.

            **Join Us Today**

            Ready to embark on a journey of discovery and connection? Join our community today and become part of
            something extraordinary. Whether you're here to learn, share, or simply connect with like-minded
            individuals, we're thrilled to welcome you to [Your Website].

            ---

            Feel free to adjust and customize this text to align with the tone and messaging of your website.</p>
    </section>


    <div class="opacity"></div>
</main>
{% endblock %}

